#user-card {
    padding: 25px;
    width: 32%;
    margin-top: 78px;
    margin-right: 15px;
}

#user-card .user-image{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 2px;
    margin-right: 20px;
}

#user-card .user-image img {
    height: 100%;
}

#user-card .user-name {
    font-size: 17px;    
}

#user-card .user-name a {
    color: #555;
    font-weight: bold;
}

#user-card .nickname {
    color: #969393;
}

#user-card .stat-label,
#user-card .number-stat {
    display: block;
    text-align: center;
    transition: all 300ms;
}

#user-card .following-data {
    float: left;
    padding-right: 18px;
    padding-left: 18px;
    margin-top: 10px;
    border-right: 2px solid #ccc;
}

#user-card .stat-label {
    font-weight: bold;
    color: #555;
}

#user-card .number-stat {
    font-weight: bold;
    color: green;
}

#user-card .following-data:last-child {
    border: none;
}

#user-card .following-data:first-child {
    padding-left: 6px;
}

#user-card .stats {
    border-top: 1px solid #eee;
    margin-top: 10px;
}

#user-card .stats a:hover{
    text-decoration: none;
}

#user-card .stats a:hover .number-stat{
    color: yellowgreen;
}

#new-post {
    padding: 10px;
    width: 32%;
    margin-right: 15px;
}

#new-post .card-body{
    padding: 10px 0;
}