<div class="col-lg-8 pull-left">
  <h1 class="h1-strong">{{title}}</h1>
  <div id="posts">
      <div *ngFor="let post of posts" class="post-item">
        <div class="card card-default">
          <div class="card-body">
            <div class="user-image pull-left">
              <a href="">
                <img src="{{ url + 'get-user-image/' + post.image}}" *ngIf="post.image">
                <img src="assets/user.png" *ngIf="!post.image" class="avatar-default">
              </a>
            </div>
            <div>
              <span class="titnom">{{post.user.name + ' ' + post.user.surname}}</span> 
              &nbsp;|&nbsp;
              <span class="date">
                {{(post.created_at | amFromUnix) | amTimeAgo}}
              </span>
            </div>
            <div class="pull-left post-text">
              {{post.text}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 text-center">
      <p>
        <button class="btn btn-success" (click)="getMore()" *ngIf="!noMore">
          More
        </button>
      </p>
    </div>
</div>

<app-sidebar (sent)="refresh($event)" ></app-sidebar>
<div class="clearfix"></div>
